* {
    margin:0;
    padding:0;
    font-family:'Source Sans Pro',sans-serif;
    text-align: center;
    box-sizing: border-box;
}
.tamanho-max {
    width: 100%;
    max-width:1024px;
    margin: 0 auto;
}
span {
    font-weight: bold;
}

/* INICIO DO CABEÇALHO*/

header {
    background-color:#00cad1; 
}
.secao-topo{
    display: flex;
    padding-left:20px;
    justify-content: space-between;
    align-items: center;
}
.secao-topo img{
    width:100px;
}
.secao-topo nav a {
    padding:15px;
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.secao-topo nav a:hover {
    color: #00cad1;
    background-color: #fff;
}
/* FINAL DO CABELHO*/

/*INICIO DA SEÇÃO BANNER*/

.secao-banner {
    position:relative;
    width: 100%;
    height:500px;
    background-image:url(../assets/recepcao.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.divisao-banner {
    height:100%;
    padding: 100px;
    color: #fff;
    
}
.secao-banner h1 {
    text-align: justify;
    text-transform: uppercase;
    font-size:36px;
    color:rgba(255, 255, 255, 0.762);
}
/*TERMINO DA SEÇÃO BANNER*/

/*INICIO DA SECÃO MAIN , PRINCIPAL*/

.secao-principal h2{
    padding:20px 0 30px 0;
}
.divisao-principal{
    display:flex;
    padding: 40px 0;
    justify-content:center;

}
.divisao-principal-2 {
    padding: 40px 0 40px 0;
}
.divisao-principal-2 ul{
    padding:20px 0 0 40px;
}
.divisao-principal-2 ul li{
    text-align: justify;
}
/*FINAL DA SEÇÃO MAIN*/


/*INICIO DA SEÇÃO ESPECIALIDADES*/

.secao-especialidades p {
    padding: 20px 0;
}
.secao-especialidades a {
    display: inline-block;
    margin: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color:#00cad1;
}
.secao-especialidades a:hover {
    padding:20px;
    font-size: 20px;
}
.secao-especialidades-galeria{
    display: flex;
    flex-flow: row wrap;
}
.galeria-blocos {
    display:inline-block;
    width:calc(100%/3 - 65px);
    margin:30px;
    box-shadow:2px 2px 10px 4px rgba(0, 0, 0, 0.305);
}
.galeria-blocos img{
    width: 100%;
}
.galeria-blocos:hover{
    transform:scale(1.25,1.25);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.449);
}
.galeria-blocos-descricao{
    padding: 5px;
    color: rgb(109, 105, 105);

}
/*FINAL DA SEÇÃO ESPECIALIDADES*/



/*INICIO DA SEÇÃO CONTATO */      /*os espaços entre o paragrafo está feito em <BR> no html*/
.secao-contato iframe {
    margin: 40px 0;
}


/*INICIO DO RODAPÉ*/
.secao-rodape {
    padding-bottom:40px;
    line-height:2.0;
    color: white;
    background-color: #00cad1;
}
/*TERMINO DO RODAPÉ */


/**/

@media (max-width: 768px) {
    .secao-topo{
        display: inline-block;
        padding: 0 20px;
    }
    .secao-topo nav {
        display: flex;
        justify-content:space-around;
    }
    .secao-topo img {
        width: 120px;
    }
    .secao-banner {
        width:100%;
        height:300px;
        background-size:cover;
    }
    .secao-banner h1 {
        font-size: 25px;
        text-align:justify;
    }
    .divisao-principal-1 {
        display: none;
    }
    .secao-principal , .secao-especialidades , .secao-contato , iframe {
        padding:0 10px;
    }
    .divisao-especialidades-galeria{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .galeria-blocos {
        width:30%;
    }
}
@media (max-width:425px){

    .secao-principal , .secao-especialidades , .secao-contato , iframe {
        padding:0 10px;
    }
    .secao-topo {
        display: inline-block;
        padding:10px;
    }
    .secao-topo nav a{
        font-size: 16px;
    }
    .secao-banner {
        width:100%;
        height:200px;
        background-size:contain
    }
    .secao-banner h1 {
        font-size: 16px;
    }
    .divisao-banner{
        padding:0;
        padding:30px 0 0 20px;
    }
    .secao-principal p, .secao-especialidades p , li{
        margin:0;
        font-size: 12px;
    }
    .divisao-principal-1 {
        display: none;
    }
    .galeria-blocos {
        width: 80%;
    }
}
